%% -*- erlang -*-
%% Config file for dthread-application
{deps_dir, ["deps"]}.
{erl_opts, [warnings_as_errors]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -D_THREAD_SAFE"},
	    {"win32", "CFLAGS", "$CFLAGS -D__WIN32__"},
	    {"win32", "LDFLAGS", "$LDFLAGS -Wl--enable-stdcall-fixup"}
	   ]}.

{port_specs, [
	      {"priv/niffed_test.so",
	       ["c_src/niffed.c",
		"c_src/niffed_nif.c",
		"c_src/niffed_test.c"]}
	     ]}.
